body{
  font-family: 'Montserrat', sans-serif;
}

.side-bar {
  background-color: #00008B;
  min-width: 200px;
}

form {
  padding: 10px;
}


form label {
flex: 1;
}



td, th{
text-align: center
}

.form-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  
}

.input-group{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}


h1{
  color: #00008B;
}
h2{
  color: #00008B;
  margin-top: 20px;
}

.btn-outline-secondary{
  color: #00008B;
  font-weight: bold;
  padding: auto;
}

.dashboard-header{
  margin-top: 20px;
}

.dashboard-header h1{
  margin-bottom: 15px;
}

.hstack {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
}

.vstack {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-self: stretch;
}

.material-symbols-outlined{
  font-size: .8em;

}
